body {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-color: lightblue;
    }

.wrapper {
    margin: 150px auto 0 auto;
    max-width: 600px;
    border: 5px;
    border-color: black;
    border-style: double;
    border-radius: 5px;
    padding: 20px;
    background-color: lightgray;
    text-align: center;
}

.hide {
    display: none;
}

.start {
text-align: center;
}

.timer {
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.button{
    margin: 15px;
    text-align: center;
    min-width: 100px;
    background-color: lightpink;
}

.grader{
    font-style: italic;
    font-size: 120%;
    margin-top: 20px;
    padding-top: 10px;
    color: gray;
    border-top: 2px solid rgb(201, 193, 193);

}

.choices{
    display: flex;
    justify-content: center;
}

#ansButton{
    background-color: lightpink;
    margin: 5px;
    width: 300px;
}